* {
    padding: 0;
    margin: 0;
}
html,
body {
    background-color: #b91c1c;
    color: #FFFFFF;
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-color: #7f1d1d;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    gap: 30px;
}

button {
    background-color: #450a0a;
    color: #FFFFFF;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    border: 0;
    border-radius: 5px;
    height: 50px;
    width: 125px;
}

.home.image,
.home.description {
    display: flex;
    justify-content: center;
    text-align: center;
}

.home img {
    height: 400px;
    width: 500px;
    border: 20px solid #450a0a;
    border-radius: 50%;
    margin: 50px;
}

.home.description .text {
    background-color: #7f1d1d;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
}

.home.description h1 {
    margin-bottom: 20px;
}

.about img {
    height: 500px;
    width: 400px;
}
